.sidenavbar {
  width: 20rem;
  height: 100vh;
  box-shadow: var(--shadow-2);
}

.navbar-heading {
  color: white;
  width: 100%;
  padding: 3rem 1rem;
  background-color: var(--primary-900);
  text-align: center;
}

.link {
  color: var(--grey-500);
  letter-spacing: var(--letterSpacing);
  padding: 0.8rem 1.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.active {
  color: white;
  background-color: var(--primary-300);
  letter-spacing: var(--letterSpacing);
  padding: 0.8rem 1.5rem;
  width: 100%;
}
