table {
  box-shadow: var(--shadow-1);
  border-collapse: collapse;
  margin-top: 1rem;
  width: 100%;
}

td,
th {
  text-align: left;
  padding: 8px;
}

th {
  background-color: var(--primary-800);
  color: var(--white);
}

tr:nth-child(odd) {
  background-color: var(--primary-50);
}

tr:nth-child(even) {
  background-color: var(--primary-100);
}

.budget-transactions-container {
  width: 100%;
}

.budget-table-transactions {
  width: 100%;
}
