.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-col-sb {
  @extend .flex-col;
  justify-content: space-between;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-row-sb {
  @extend .flex-row;
  justify-content: space-between;
  gap: 1rem;
}

.flex-row-c {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
