.transactions-page {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  padding: 5%;

  div {
    height: 100%;
    width: 100%;
    overflow: auto;
    overflow-x: hidden;
  }
}

table {
  border-collapse: collapse;
  box-shadow: 0px 5px 10px rgb(34, 33, 33);
  text-align: left;
  overflow: hidden;
  background-color: white;

  td,
  th {
    border: none;
    color: black;
  }

  th {
    letter-spacing: 0.1rem;
    font-weight:900;
  }

  thead {
    border-top-left-radius:1rem ;
    background-color: aquamarine;
  }
}
