:root {
    --primary-blue :  hsla(224, 84%, 34%);
    --primary-dark: rgb(52, 52, 52);
    --primary-orange: rgb(191, 105, 0);
    --primary-light: rgb(234, 224, 204);
    --primary-yellow: rgb(242, 169, 11);

    --secondary-blue: rgb(30, 44, 82);
}