:root {
  /* colors */
  --primary-50: #e4f3fe;
  --primary-100: #bce1fd;
  --primary-200: #92cffc;
  --primary-300: #66bcfa;
  --primary-400: #43adfa;
  --primary-500: #1f9ffa;
  --primary-600: #1990ec;
  --primary-700: #127ed9;
  --primary-800: #0c6dc7;
  --primary-900: #014fa8;

  --secondary-50: #fef8e2;
  --secondary-100: #feedb5;
  --secondary-200: #fde285;
  --secondary-300: #fdd854;
  --secondary-400: #fdcd30;
  --secondary-500: #fdc51a;
  --secondary-600: #fdb713;
  --secondary-700: #fda40f;
  --secondary-800: #fd930c;
  --secondary-900: #fd7507;

  /* grey */
  --grey-50: #f8fafc;
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-300: #cbd5e1;
  --grey-400: #94a3b8;
  --grey-500: #64748b;
  --grey-600: #475569;
  --grey-700: #334155;
  --grey-800: #1e293b;
  --grey-900: #0f172a;

  /* rest of the colors */
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;

  /* fonts  */
  --small-text: 0.875rem;
  --extra-small-text: 0.7em;

  /* rest of the vars */
  --backgroundColor: var(--grey-50);
  --textColor: var(--grey-900);
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;

  /* box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}
