:root {
  /* colors */
  --primary-50: #e4f3fe;
  --primary-100: #bce1fd;
  --primary-200: #92cffc;
  --primary-300: #66bcfa;
  --primary-400: #43adfa;
  --primary-500: #1f9ffa;
  --primary-600: #1990ec;
  --primary-700: #127ed9;
  --primary-800: #0c6dc7;
  --primary-900: #014fa8;
  --secondary-50: #fef8e2;
  --secondary-100: #feedb5;
  --secondary-200: #fde285;
  --secondary-300: #fdd854;
  --secondary-400: #fdcd30;
  --secondary-500: #fdc51a;
  --secondary-600: #fdb713;
  --secondary-700: #fda40f;
  --secondary-800: #fd930c;
  --secondary-900: #fd7507;
  /* grey */
  --grey-50: #f8fafc;
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-300: #cbd5e1;
  --grey-400: #94a3b8;
  --grey-500: #64748b;
  --grey-600: #475569;
  --grey-700: #334155;
  --grey-800: #1e293b;
  --grey-900: #0f172a;
  /* rest of the colors */
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;
  /* fonts  */
  --small-text: 0.875rem;
  --extra-small-text: 0.7em;
  /* rest of the vars */
  --backgroundColor: var(--grey-50);
  --textColor: var(--grey-900);
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  /* box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Inter", sans-serif;
}

.flex-col, .flex-col-sb {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.flex-col-ng {
  display: flex;
  flex-direction: column;
}

.flex-col-sb {
  justify-content: space-between;
}

.flex-row, .flex-row-sb {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.flex-row-ng {
  display: flex;
  flex-direction: row;
  gap: 0;
}

.flex-row-sb {
  justify-content: space-between;
  gap: 1rem;
}

.flex-row-c {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.btn, .btn-cancel, .btn-secondary, .btn-primary {
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: var(--borderRadius);
  letter-spacing: var(--letterSpacing);
  padding: 0.375rem 0.75rem;
  transition: var(--transition);
}

.btn-primary {
  color: var(--white);
  background: var(--primary-500);
}
.btn-primary:hover {
  background: var(--primary-700);
  box-shadow: var(--shadow-3);
}

.btn-secondary {
  color: var(--black);
  background: var(--secondary-600);
}
.btn-secondary:hover {
  background: var(--secondary-700);
  box-shadow: var(--shadow-3);
}

.btn-cancel {
  color: var(--secondary-600);
  background: transparent;
}
.btn-cancel:hover {
  border: 1px solid var(--secondary-600);
}

.fab {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}

dialog {
  background: var(--white);
  border: none;
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow-2);
  width: 25rem;
  padding: 2rem 2.5rem 1.5rem 2.5rem;
}

.dialog-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 1.5rem;
}

.form {
  width: 30vw;
  max-width: 400px;
  background: var(--white);
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow-2);
  padding: 2rem 2.5rem;
  gap: 1rem;
}

.form-label {
  display: block;
  font-size: var(--small-text);
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}

.form-input,
.form-textarea {
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: var(--borderRadius);
  background: var(--backgroundColor);
  border: 1px solid var(--grey-200);
}

.form-row {
  margin-bottom: 1rem;
}

.form-textarea {
  height: 7rem;
}

::placeholder {
  font-family: inherit;
  color: var(--grey-400);
}

.form-alert {
  color: var(--red-dark);
  letter-spacing: var(--letterSpacing);
  text-transform: capitalize;
}

.google-icon-md {
  font-size: 4rem;
  color: var(--grey-700);
}

section {
  width: 100%;
}

.sidenavbar {
  width: 20rem;
  height: 100vh;
  box-shadow: var(--shadow-2);
}

.navbar-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 100%;
  padding: 1.5rem 1rem;
  background-color: var(--primary-900);
}
.navbar-heading img {
  width: 8rem;
}

.link {
  color: var(--grey-500);
  letter-spacing: var(--letterSpacing);
  padding: 0.8rem 1.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.active {
  color: white;
  background-color: var(--primary-300);
  letter-spacing: var(--letterSpacing);
  padding: 0.8rem 1.5rem;
  width: 100%;
}

table {
  box-shadow: var(--shadow-1);
  border-collapse: collapse;
  margin-top: 1rem;
  width: 100%;
}

td,
th {
  text-align: left;
  padding: 8px;
}

th {
  background-color: var(--primary-800);
  color: var(--white);
}

tr:nth-child(odd) {
  background-color: var(--primary-50);
}

tr:nth-child(even) {
  background-color: var(--primary-100);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f5;
  height: 100vh;
  width: 100%;
  padding: 1rem;
}

/*# sourceMappingURL=main.css.map */
