dialog {
  background: var(--white);
  border: none;
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow-2);
  width: 25rem;
  padding: 2rem 2.5rem 1.5rem 2.5rem;
}

.dialog-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 1.5rem;
}

.budget-modal-overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #4245495d;
}
.budget-modal-container {
  height: 25vw;
  width: 30vw;
  background-color: var(--white);
  padding: 2%;

  h3 {
    margin: 1.3rem 0;
  }
}

.budget-modal {
  display: flex;
  flex-direction: column;

  div {
    margin: 3% 0;
    font-weight: 500;
    gap: 0.5rem;

    input {
      width: 100%;
      padding: 0.375rem 0.75rem;
      border-radius: var(--borderRadius);
      background: var(--backgroundColor);
      border: 1px solid var(--grey-200);
    }
  }
}
// utility classes idk where to put pa --stanley, 2022
.d-f {
  display: flex;
}

.fd-c {
  flex-direction: column;
}

.jc-fe {
  justify-content: flex-end;
}
