@import 'variables';

.account-details {
  position: relative;

  div {
    margin-bottom: 30px;
  }

}

.bal{
  color: $blue;
}

.transactions, .expenses {
 position: relative;
 margin-top: 30px;

 .btn-container {
  top: 0
 }

 tr{
  cursor: default;

  &:hover {
    background-color: $white;
  }
 }

 .table-div {
  height: 200px;
 }
}

.btn-container {
  width: fit-content;
  position: absolute;
  top: 30px;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .btn  {
    margin-right: 10px;
  }
}

.account-details-wrapper {
  display: flex;
  justify-content: space-between;
}

.icon-container {
width: 70%;
display: flex;
align-items: flex-start;
justify-content: space-between;

 .icon {
  margin: 0;
 }
}

.icon {
  color: $dark-grey;
  cursor: pointer;
  padding-right: 10px;
  

  &:hover {
    color: $yellow;
  }
}