@import 'variables';

main {

  background-color: $light-grey;
  width: 80%;
  height: 100vh;
  padding: 0 5% 30px 5%;
  overflow-y: scroll;

  .title {
    color: $dark-grey;
    margin-bottom: 50px;
  }
}