@import 'variables';

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2vw;
  border-bottom: 1px solid $dark-grey ;

    .menu-link {
      padding: 0 2vw;
    }
}

.logo-s {
  width: 100px;
  margin: 15px;
}

.login-btn {
  font-size: 16px;
  padding: 15px 25px;
  border: none;
  border-radius: 50px;
  background-color: $yellow;
  color: white;
}

.hero-section {
  background-image: url(../assets/home-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 3px 4px 7px $black
}

.hero-section {
  h1 {
  width: 60%;
  color: white;
  text-align: center;
  }
}

footer {
  color: $grey;
  padding: 2.5vh 2vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: end;
  align-items: center;
  font-size: 14px;
  text-align: left;

  p {
    justify-self: start;
  }
}