@import 'variables'; 

dialog {
  border: none;
}

.modal {
  background-color: $blue;
  min-width: 785px;
  min-height: 425px;
  position: fixed;
  top: 15%;
  left: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 30px;
  z-index: 2;
  
  h3, h4 {
    color: white;
  }

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    div {
      display: flex;
    }

    .btn {
      position: static;
      margin: 20px 10px 0;
    }
  }

  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  .col {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 10px;
  }
}